<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center" style="margin-top: 100px">
        <img src="assets/images/logo.png" style="max-width: 100%; max-height: 100%; width: auto; height: auto;">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="sign-in-wrapper">
        <div class="sign-in">
          <form #signinForm="ngForm">
            <div class="alert error" *ngIf="signinError">Incorrect email or password. Please try again</div>
            <div class="form-group">
              <input class="form-control" type="email" id="email" name="email" [(ngModel)]="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" id="password" name="password" [(ngModel)]="password" placeholder="Password" required>
            </div>
            <button class="btn btn-primary btn-block" (click)="signIn()">Sign In</button>
            <div style="margin: 20px 0;">
              <div class="text-center" style="margin-bottom: 10px;">
                <a>Create an Account</a>
              </div>
              <div class="text-center">
                <a>Forgot Password?</a>
              </div>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>