<div class="panel panel-primary inline-block" style="margin-right: 20px;" *ngIf="!open" (click)="open = !open">
  <div class="panel-heading text-center" style="width: 100px; height: 100px;">
    <div class="text-center-vert">{{chord.name}}</div>
  </div>
</div>

<div class="panel panel-primary inline-block" style="margin-right: 20px;" *ngIf="open" (click)="open = !open">
  <div class="panel-heading text-center">{{chord.name}}</div>
  <div class="panel-body">
    <div style="width: 154px; height: 150px;">
      <div class="string-label-box inline-block">
        <div class="string-label">e</div>
        <div class="string-label">B</div>
        <div class="string-label">G</div>
        <div class="string-label">D</div>
        <div class="string-label">A</div>
        <div class="string-label">E</div>
      </div>

      <div class="neck inline-block">
        <div class="string-row">
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="eStringPosition==1 && barPosition!=1"><div class="text-center-vert">{{eStringLabel}}</div></div>
              <div class="bar bar-top" *ngIf="barPosition==1 && barFirstIndex<=0 && barLastIndex>=0"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="eStringPosition==2 && barPosition!=2"><div class="text-center-vert">{{eStringLabel}}</div></div>
              <div class="bar bar-top" *ngIf="barPosition==2 && barFirstIndex<=0 && barLastIndex>=0"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="eStringPosition==3 && barPosition!=3"><div class="text-center-vert">{{eStringLabel}}</div></div>
              <div class="bar bar-top" *ngIf="barPosition==3 && barFirstIndex<=0 && barLastIndex>=0"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="eStringPosition==4 && barPosition!=4"><div class="text-center-vert">{{eStringLabel}}</div></div>
              <div class="bar bar-top" *ngIf="barPosition==4 && barFirstIndex<=0 && barLastIndex>=0"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="eStringPosition==5 && barPosition!=5"><div class="text-center-vert">{{eStringLabel}}</div></div>
              <div class="bar bar-top" *ngIf="barPosition==5 && barFirstIndex<=0 && barLastIndex>=0"></div>
            </div>
        </div>
        <div class="string-row">
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="BStringPosition==1 && barPosition!=1"><div class="text-center-vert">{{BStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==1 && barFirstIndex<=1 && barLastIndex>=1"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="BStringPosition==2 && barPosition!=2"><div class="text-center-vert">{{BStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==2 && barFirstIndex<=1 && barLastIndex>=1"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="BStringPosition==3 && barPosition!=3"><div class="text-center-vert">{{BStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==3 && barFirstIndex<=1 && barLastIndex>=1"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="BStringPosition==4 && barPosition!=4"><div class="text-center-vert">{{BStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==4 && barFirstIndex<=1 && barLastIndex>=1"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="BStringPosition==5 && barPosition!=5"><div class="text-center-vert">{{BStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==5 && barFirstIndex<=1 && barLastIndex>=1"></div>
            </div>
        </div>
        <div class="string-row">
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="GStringPosition==1 && barPosition!=1"><div class="text-center-vert">{{GStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==1 && barFirstIndex<=2 && barLastIndex>=2"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="GStringPosition==2 && barPosition!=2"><div class="text-center-vert">{{GStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==2 && barFirstIndex<=2 && barLastIndex>=2"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="GStringPosition==3 && barPosition!=3"><div class="text-center-vert">{{GStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==3 && barFirstIndex<=2 && barLastIndex>=2"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="GStringPosition==4 && barPosition!=4"><div class="text-center-vert">{{GStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==4 && barFirstIndex<=2 && barLastIndex>=2"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="GStringPosition==5 && barPosition!=5"><div class="text-center-vert">{{GStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==5 && barFirstIndex<=2 && barLastIndex>=2"></div>
            </div>
        </div>
        <div class="string-row">
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="DStringPosition==1 && barPosition!=1"><div class="text-center-vert">{{DStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==1 && barFirstIndex<=3 && barLastIndex>=3"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="DStringPosition==2 && barPosition!=2"><div class="text-center-vert">{{DStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==2 && barFirstIndex<=3 && barLastIndex>=3"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="DStringPosition==3 && barPosition!=3"><div class="text-center-vert">{{DStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==3 && barFirstIndex<=3 && barLastIndex>=3"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="DStringPosition==4 && barPosition!=4"><div class="text-center-vert">{{DStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==4 && barFirstIndex<=3 && barLastIndex>=3"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="DStringPosition==5 && barPosition!=5"><div class="text-center-vert">{{DStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==5 && barFirstIndex<=3 && barLastIndex>=3"></div>
            </div>
        </div>
        <div class="string-row">
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="AStringPosition==1 && barPosition!=1"><div class="text-center-vert">{{AStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==1 && barFirstIndex<=4 && barLastIndex>=4"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="AStringPosition==2 && barPosition!=2"><div class="text-center-vert">{{AStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==2 && barFirstIndex<=4 && barLastIndex>=4"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="AStringPosition==3 && barPosition!=3"><div class="text-center-vert">{{AStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==3 && barFirstIndex<=4 && barLastIndex>=4"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="AStringPosition==4 && barPosition!=4"><div class="text-center-vert">{{AStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==4 && barFirstIndex<=4 && barLastIndex>=4"></div>
            </div>
            <div class="fret-cell">
              <div class="finger text-center" *ngIf="AStringPosition==5 && barPosition!=5"><div class="text-center-vert">{{AStringLabel}}</div></div>
              <div class="bar" *ngIf="barPosition==5 && barFirstIndex<=4 && barLastIndex>=4"></div>
            </div>
        </div>
        <div class="string-row">
            <div class="bottom-fret-cell">
              <div class="finger text-center" *ngIf="EStringPosition==1 && barPosition!=1"><div class="text-center-vert">{{EStringLabel}}</div></div>
              <div class="bar bar-bottom" *ngIf="barPosition==1 && barFirstIndex<=5 && barLastIndex>=5"></div>
            </div>
            <div class="bottom-fret-cell">
              <div class="finger text-center" *ngIf="EStringPosition==2 && barPosition!=2"><div class="text-center-vert">{{EStringLabel}}</div></div>
              <div class="bar bar-bottom" *ngIf="barPosition==2 && barFirstIndex<=5 && barLastIndex>=5"></div>
            </div>
            <div class="bottom-fret-cell">
              <div class="finger text-center" *ngIf="EStringPosition==3 && barPosition!=3"><div class="text-center-vert">{{EStringLabel}}</div></div>
              <div class="bar bar-bottom" *ngIf="barPosition==3 && barFirstIndex<=5 && barLastIndex>=5"></div>
            </div>
            <div class="bottom-fret-cell">
              <div class="finger text-center" *ngIf="EStringPosition==4 && barPosition!=4"><div class="text-center-vert">{{EStringLabel}}</div></div>
              <div class="bar bar-bottom" *ngIf="barPosition==4 && barFirstIndex<=5 && barLastIndex>=5"></div>
            </div>
            <div class="bottom-fret-cell">
              <div class="finger text-center" *ngIf="EStringPosition==5 && barPosition!=5"><div class="text-center-vert">{{EStringLabel}}</div></div>
              <div class="bar bar-bottom" *ngIf="barPosition==5 && barFirstIndex<=5 && barLastIndex>=5"></div>
            </div>
        </div>

        <div class="fret-start inline-block" *ngIf="fretStart > 0">{{fretStart}} fr</div>
      </div>

      <div class="string-label-box inline-block">
        <div class="string-label"><div *ngIf="eStringPosition==0">o</div><div *ngIf="eStringPosition==6">x</div></div>
        <div class="string-label"><div *ngIf="BStringPosition==0">o</div><div *ngIf="BStringPosition==6">x</div></div>
        <div class="string-label"><div *ngIf="GStringPosition==0">o</div><div *ngIf="GStringPosition==6">x</div></div>
        <div class="string-label"><div *ngIf="DStringPosition==0">o</div><div *ngIf="DStringPosition==6">x</div></div>
        <div class="string-label"><div *ngIf="AStringPosition==0">o</div><div *ngIf="AStringPosition==6">x</div></div>
        <div class="string-label"><div *ngIf="EStringPosition==0">o</div><div *ngIf="EStringPosition==6">x</div></div>
      </div>
    </div>
  </div>
</div>