<div class="container-fluid">
  <h1 class="text-center">
    My Songs
  </h1>

  <div class="list-wrapper">
    <div class="list">
      <div class="form-group">
        <input class="form-control" placeholder="Search...">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">+ Add a song</button>
      </div>

      <div class="status text-center">
        Showing <span class="badge">{{indices?.start + 1}}</span> - <span class="badge">{{indices?.end}}</span> of <span class="badge">{{items?.length}}</span>
        <span>({{scrollItems?.length}} nodes)</span>
      </div>

      <div class="row">
        <div class="col-xs-6 text-center" style="font-size: 20px; color: #fff">Artist</div>
        <div class="col-xs-6 text-center" style="font-size: 20px; color: #fff">Title</div>
      </div>

      <virtual-scroll 
        [items]="items" 
        (change)="indices = $event" 
        (update)="onUpdate($event)" 
        style="height: 60vh; display: block">
        <div *ngFor="let item of scrollItems; let i = index;">
          <div class="row" [ngClass]="itemClass(i)" style="margin-left: 0; margin-right: 0;">
            <div class="col-xs-6"><a [ngClass]="linkClass(i)">{{item?.name}}</a></div>
            <div class="col-xs-6"><a [ngClass]="linkClass(i)">{{item?.name}}</a></div>
          </div>
        </div>
      </virtual-scroll>
    </div>
  </div>
</div>