<div class="container-fluid">
  <header>
    <h1 class="text-center" style="color: #32cd32">
      {{songSelected?.title}}
    </h1>
    <h4 class="text-center" style="color: #fff">
      by {{songSelected?.artist}}
    </h4>
  </header>

  <div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-12">Capo: {{songSelected?.capo}}</div>
  </div>

  <div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-12">Chords:</div>

    <div class="col-xs-12">
      <span *ngFor="let chord of chords">
        <chord-detail [chord]="chord" *ngIf="chord"></chord-detail>
      </span>
    </div>

    <div class="col-xs-12">
      <div class="text-center">
        <div class="inline-block" style="width: 500px; height: 500px; padding: 15px; background-color: rgba(255,255,255,0.5)">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <input class="form-control" placeholder="Name">

                <div class="well well-lg">
                  <div class="finger text-center inline-block"><div class="text-center-vert">1</div></div>
                  <div class="finger text-center inline-block"><div class="text-center-vert">2</div></div>
                  <div class="finger text-center inline-block"><div class="text-center-vert">3</div></div>
                  <div class="finger text-center inline-block"><div class="text-center-vert">4</div></div>
                  <div class="bar text-center inline-block"><div class="text-center-vert"></div></div>
                  <div class="string-label-right text-center inline-block"><div class="text-center-vert">x</div></div>
                  <div class="string-label-right text-center inline-block"><div class="text-center-vert">o</div></div>
                </div>

                <div style="height: 280px;">
                  
                </div>

                <div class="text-center">
                  <div class="btn btn-primary">Save</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="btn btn-primary" (click)="doNothing()">+ Add a chord</div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-12">Sections:</div>
    
    <div class="col-xs-12 panel-group section-accordian" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-primary" *ngFor="let section of sections; let i = index;">
        <div class="panel-heading collapsed" 
            (click)="section.open = !section.open;"
            role="tab"
            id="heading{{i}}"
            data-toggle="collapse"
            data-parent="#accordion"
            attr.data-target="#collapse{{i}}"
            aria-expanded="false"
            attr.aria-controls="collapse{{i}}">
          <h4 class="panel-title">
            {{section.title}}
            <i class="glyphicon pull-right"
                [ngClass]="{'glyphicon-chevron-up': section.open, 'glyphicon-chevron-down': !section.open}"
                aria-hidden="true"></i>
          </h4>
        </div>
        <div id="collapse{{i}}"
              class="panel-collapse collapse"
              role="tabpanel"
              attr.aria-labelledby="heading{{i}}">
          <div class="panel-body" style="font-family: 'Roboto Mono'" [innerHTML]="section.content"></div>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="btn btn-primary" (click)="doNothing()">+ Add a section</div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 60px;">
    <div class="col-xs-12">Dynamic Staff:</div>
  </div>
</div>